@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    
}
a, button{
    cursor: pointer;
}
:root{
    --main-text-color: white;
    --second-text-color: black;
    --main-bg-color: #21209C ;
    --second-bg-color: white;
    --main-btn-bg-color: #7171ff;
}
nav{
    color: var( --second-text-color);
    background-color: var(--second-bg-color);
    border-bottom:solid 1px #17171a5e;
}
.nav__logo{
    font-family: 'Vina Sans', sans-serif;
    font-size: 2.2rem;
    color: var(--main-bg-color);
}
.nav__logo span{
    color: var(--second-text-color);
}
.nav__button{
    text-decoration: none !important;
    color: var( --main-text-color);
    font-family:  monospace;
    padding: .3rem;
    background-color: var(--main-btn-bg-color);
    border-radius: 1rem;
    margin-left: 1rem;
    transition: 1s;
}
.nav__button:hover{
    transform: scale(1.1);
}
.main__section{
    height: 90vh;
}
.main__section__imgs{
    height: inherit;
    background-color: var(--main-bg-color);
}
.main__section__imgs img{
    height: 70vh !important;
    width: 37vh !important;
}
