@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    
}
a, button{
    cursor: pointer;
}
:root{
    --main-text-color: white;
    --second-text-color: #000000;
    --main-bg-color: #6c63ff ;
    --second-bg-color: rgb(216, 215, 215);
    --main-btn-bg-color: #0707fb;
}
nav{
    color: var( --second-text-color);
    position: fixed;
    height: 4rem;
    width: 100vw;
    background-color: var(--main-text-color);
}
.nav__logo{
    font-family: 'Vina Sans', sans-serif;
    font-size: 2.2rem;
    color: var(--main-bg-color);
}
.nav__logo span{
    color: var(--second-text-color);
}
.nav__button{
    text-decoration: none !important;
   
 
  
    margin-left: 1rem;
    transition: 1s;
}
.nav__button:hover{
    transform: scale(1.1);
}
main{
    padding: 7rem;
}
section{
    border-radius: 1rem;
    box-shadow: .2rem  .2rem   .5rem   .1rem var(--second-text-color);
}
.main__section{
    height: 75vh;
    /* background-color: var(--second-bg-color); */
}
.main__section__imgs{
    height: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: var(--main-bg-color);
}
.main__section__imgs img{
    height: 55vh !important;
    width: 30vh !important;
    border-radius: 1rem;
    
    box-shadow: .2rem  .2rem   .5rem   .1rem var(--second-text-color);
}
footer{
    background-color: var(--second-bg-color);
}
