:root {
    --main-text-color: #333;
    --second-text-color: #fff;
    --main-bg-color: #f2f2f2;
    --second-bg-color: #fff;
    --main-btn-bg-color: #007bff;
}
body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
.navbar {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
.btn-primary {
    background-color: var(--main-btn-bg-color);
    border-color: var(--main-btn-bg-color);
}
.table td, .table th {
    border-color: var(--second-bg-color);
}
.table thead th {
    background-color: var(--second-bg-color);
    color: var(--main-text-color);
    border-color: var(--second-bg-color);
}
.table td:last-child, .table th:last-child {
    text-align: center;
}
.table .btn {
    color: var(--second-text-color);
    transition: all 0.3s ease-in-out;
}
.table .btn:hover {
    color: var(--main-text-color);
}
.table-responsive {
    max-height: 400px;
    overflow-y: auto;
}
.form-control {
margin-bottom: 20px;
}
label {
font-weight: bold;
}